#header {
	background-color: #2D2F35;
}
#main_top {
	background-color: #24262A;
}
#main_middle {
	background-color: #2D2F35;
}
#main_bot {
	background-color: #2D2F35;
}
#footer {
	background-color: #24262A;
}